@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html,
   body,
   #root {
      @apply h-full;
      background: rgb(209, 213, 219);
      background: linear-gradient(
         180deg,
         rgba(209, 213, 219, 1) 0%,
         rgba(255, 255, 255, 1) 100%
      );
   }
}

/* @layer components {
   .notFound {
      background-image: url('data:image/);
   }
} */
